body {
    font-family: 'Lato', sans-serif;
}

#logo {
    width: 130px;
    height: auto;
    margin: 40px;
}

#banner {
    background-color: rgb(34,29,23);
}

#navbar {
    background-color: rgb(255, 223, 109);
}

#footer {
    background-color: rgb(34,29,23);
    padding-top: 60px;
    padding-bottom: 60px;
}

h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 24pt;
    margin-bottom: 40px;
    padding: 5px 10px 0px 10px;
    display: inline-block;
    border: 3px solid rgb(34,29,23);
}

h2 {
    font-family: 'Bebas Neue', cursive;
    font-size: 20pt;
    margin-top: 40px;
    margin-bottom: 15px;
    padding: 5px 10px 0px 10px;
    display: inline-block;
    border: 3px solid rgb(34,29,23);
}

h3 {
    font-family: 'Bebas Neue', cursive;
    font-weight: bold;
    font-size: 14pt;
}

h4 {
    font-family: 'Bebas Neue', cursive;
    font-size: 24pt;
    font-weight: bold;
    color: white;
}

.foodtitle {
    font-family: 'Bebas Neue', cursive;
    font-weight: bold;
    font-size: 14pt;
}

.content {
    margin-top: 40px;
    margin-bottom: 60px;
}

.menuright {
    background-color: rgb(255, 223, 109);
}

nav.navbar.navbar-expand-md.navbar-light {
    background-color: rgb(255, 223, 109);
    padding: 0px;
}

nav #toggler span {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(34,29,23, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
  
#toggler {
    border: none;
} 

nav #links a {
    font-weight: bold;
    text-decoration: none;
    color: rgb(34,29,23);
    padding: 10px 15px 10px 15px;
}

nav a:visited {
    color: inherit;
}

nav #links a.currentpage {
    background-color: rgb(34,29,23);
    color: white;
}

nav #links a:hover {
    background-color: rgb(34,29,23);
    color: white;
}

#address {
    color: white;
}

#copyright {
    font-style: italic;
    text-align: center;
    margin: 50px 0px;
}
